@model IEnumerable<Category>
@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "All Products";
}

<a asp-action="Create" class="btn btn-primary">Add New Product</a>

<table id="productsTable"class="table table-hover" width="100%">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Category</td>
            <td>Image</td>
            <td>Actions</td>
        </tr>
    </thead>
   
</table>

@section Scripts {
    <script src="~/js/products.js"></script>
}