@model IEnumerable<OrderHeader>
@{
    ViewBag.PageTitle = "Orders Management";
    ViewBag.CardTitle = "All Orders";
}

<table id="ordersTable" class="table table-hover" width="100%">
    <thead>
        <tr>
            <td>Order Number</td>
            <td>Customer</td>
            <td>Phone</td>
            <td>Date</td>
            <td>Order Status</td>
            <td>Total Price</td>
            <td>Actoins</td>
        </tr>
    </thead>

</table>

@section Scripts {
    <script src="~/js/orders.js"></script>
}