@model int

<div class="container d-flex flex-column align-items-center justify-content-center pt-4" >
    <div class="col-12 text-center">
        <h1>Thank you for shopping with us.</h1>
        <br />
        <img src="~/img/confirm.jpg" width="400" height="400" />
    </div>
    <div class="col-12 text-center">
        <br />
        <h3>Your order has been placed successfully. <br />Your order number is <span style="color:blueviolet;">@Model</span></h3>
        <br />
    </div>
</div>