@model IEnumerable<Category>
@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "All Categories";
}
    
<a asp-area="admin" asp-controller="Category" asp-action="Create" class="btn btn-primary">Add New Category</a>

<table id="categoriesTable" class="table table-hover" width="100%">
    <thead class="text-bold">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Date Created</td>
            <td>Actions</td>
        </tr>
    </thead>
    
</table>

@section Scripts {
    <script src="~/js/categories.js"></script>
}